* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* DISPLAY GRID */
header {
    grid-area: header;
}

main {
    grid-area: main;
    margin-top: 2%;
}

aside {
    grid-area: aside;
    margin-top: 10%;
}


footer {
    grid-area: footer;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 6fr 5fr ;
    grid-template-rows: 1vh 1fr 15vh;
    grid-template-areas: "header header header "
                            "aside main main"
                            "footer footer footer";
}

/* DISPLAY GRID */

/* DISPLAY FLEX */
.div {
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    margin-top: 3%;
}


/* DISPLAY FLEX */

h2 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.item {
    width: 150px;
    height: 150px;
    background-color: black;
    color: aliceblue;

}

img {
    width: 150px;
    height: 150px;
}

.nomes_das_linhas {
    text-align: center;
    font-weight: 500;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(75, 72, 72);
}

.preco_antigo {
    text-align: center;
    font-weight: 500;
    text-decoration: line-through;
    font-family:Arial, Helvetica, sans-serif;
    color:dimgrey;
    font-size: small;
}

.preco_novo {
    text-align: center;
    font-weight: 500;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(45, 43, 43);
}

.linhas_dos_produtos {
    margin: 3px;
}

.menu {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    color:rgb(8, 10, 11);
    align-content: space-around;
    display: flex;
    padding-left: 2px;
    padding-top: 5%;
    padding-bottom: 14px;
    margin-left: 10%;

    border: solid 2px;
    border-color: white;
    border-radius: 5px;
}

.qualidade_garantida {
    display: flex;
    justify-content:space-around;
    background-color:rgb(9, 9, 9);
    color:rgb(248, 248, 248);
    padding: 3px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:500;

}

.formulario {
    width: 50%;
    height: 50px;
    border-radius: 10px;
}

.menu_header {
    color: rgb(7, 8, 8);
    font-size: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.label_procurar {
    width: 15vw;
    height: 5px;
    padding: 15px;
    border: solid 1px;
    border-color: aliceblue;
    border-radius: 5px;

}

.button_procurar {
    background-color: rgb(73, 73, 223);
    color: aliceblue;
    padding: 5px;
    border: solid 1px;
    border-color: aliceblue;
    border-radius: 5px;
}

#linha_footer {
    margin-top: 5%;
    margin-bottom: -5%;
    padding: px;
    background-color:black;
}


#nossos_produtos {
    background-color:aliceblue;
    padding: 2px;
    margin-bottom: 2px;
    border: solid 1px;
    border-color: rgb(15, 16, 17);
    border-radius: 5px;
}

.footer_display {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
}
#linha_footer {
    padding: 4px;
    margin-bottom:1%;
}

li {
    list-style: none;
}

.footer_infos {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    padding-bottom: 8%;
}

.footer_informacoes_loja {
    margin-bottom: 3%;
    margin-top: 1%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color:rgb(45, 41, 41);
    text-decoration: none;
}

.footer_institucional {
    margin-top: 5%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color:rgb(45, 41, 41);
    text-decoration: none;
}

.footer_atendimento {
    margin-bottom: 10%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color:rgb(45, 41, 41);
    text-decoration: none;
}

.footer_endereco {
    margin-top: -1%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color:rgb(45, 41, 41);
    text-decoration: none;
}

.footer_endereco_header {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    padding-bottom: 6%;
}

#footer_small {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(45, 41, 41);
    padding-top: 4%;
}

.footer_texto {
    color:rgb(51, 49, 49);
    display: flex;
    margin-left: 8%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.footer_quebra_de_linha {
    white-space:pre-line;
    font-size:small;
    font-weight:100;
}

#logo {
    margin-top :17%;
    margin-left: 5px;
    width: 100px;
    height: 50px;
}

.linha_footer_fina {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 2%;
    background-color:dimgrey;
}

.display_certificados {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 3%;
}

.display_redes_sociais {
    display: flex;
    flex-direction: row;
    background-color: blueviolet;
    text-align: center;
}

.logo_facebook {
    width: 50px;
    height: 50px;
    margin-bottom: 6%;
}

.logo_instagram {
    width: 70px;
    height: 70px;
    margin-top: 5px;
}

.logo_youtube {
    width: 42px;
    height: 42px;
    margin-bottom: 9%;
}

.logo_seguranca {
    width: 200px;
    height: 100px;
}

.logo_formas_de_pagamento {
    width: 300px;
    height: 50px;
}

#margin_certificados {
    margin-bottom: 7%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(51, 49, 49);
    font-size: small;
}

#margin_formas_de_pagamento {
    margin-bottom: 4%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(51, 49, 49);
    font-size: small;
}

#fonte_siga_nossas_redes {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(51, 49, 49);
    font-size: small;

}

#direitos_reservados {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(51, 49, 49);
    font-size: small;
    margin-top: 2%;
}


.linha_vertical {
    width: 0px;
    height: 94%;
    border-left: solid;
    margin-left: 7%;
    background-color: rgb(243, 248, 244);
    border-left: 2px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
    box-sizing: border-box;
    margin-top: -49px;

}

.box {
    width: 0px;
    float: left;
    height: 100%;/*Altura da linha*/
    margin-left: 5%;
    margin-top: 1%;
    background-color: rgb(246, 240, 240);
}


a {
    text-decoration: none;
    color: rgb(38, 40, 43);
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 252, 252);
    margin-left: 5%;
    background-color:rgba(245, 245, 245, 0.489);
    padding: 3px;
    border:solid 3px;
    border-color:ghostwhite;
    border-radius: 5px;
}

.navbar_label {
    padding: 3px;
    border-radius: 5px;
    border-color:grey;
}

.navbar_button {
    padding: 3px;
    background-color: rgb(130, 130, 246);
    border: solid 1px;
    border-color:rgb(248, 237, 237);
    border-radius: 5px;
    color: rgb(250, 236, 236);
}

.navbar_margin {
    margin-top: 0.3%;
}

 aside a:hover {
    font-size: 14px;
}
.preco_novo:hover {
    background-color: rgb(243, 77, 77);
    color: aliceblue;
}

.imagens__drop-shadow {
    filter:drop-shadow(4px 6px 5px rgba(82, 77, 77, 0.592))
}