$breakpoint-sm: 576px; // Dispositivos small (telefones em modo paisagem, com 576px ou mais)
$breakpoint-md: 768px; // Dispositivos médios (tablets com 768px ou mais)
$breakpoint-lg: 992px; // Dispositivos large (desktops com 992px ou mais)
$breakpoint-xl: 1200px; // Dispositivos extra large (desktops grandes com 1200px ou mais)

