$cor-principal: #121212;
$cor-nome-produtos:#2d2b2b;
$cor-cabecalho:white;
$cor-borda-botao-menu-principal:#c4c4c4;
$cor-background-botao-menu-principal:#fbf8f8;   
$cor-paragrafos-listas-footer:#1e1c1c;
$menu-principal-item-atual-color: rgb(226, 54, 54);
$cor-botao-submit: rgb(226, 54, 54);

