.container {
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 15px;
    @media(min-width: $breakpoint-iphone-6-portrait) {
        width: 240px;
    }
    @media(min-width: $breakpoint-iphone-6) {
        width: 350px;
    }
    @media(min-width: $breakpoint-sm) {
        width: 540px;
    }
    @media(min-width: $breakpoint-md) {
        width: 720px;
    }
    @media(min-width: $breakpoint-lg) {
        width: 960px;
    }
    @media(min-width: $breakpoint-xl) {
        width: 1140px;
    }
}

