footer {
    margin-top: 25px;

}
/* FOOTER PRIMEIRA LINHA*/

.f-primeira-linha {
    border-top: 5px solid;
    &__titulo {
        text-transform: uppercase;
        font-size: 16px;
        font-weight:600;
        padding: 0 15px 0 15px;
    }
    
    &__lista {
        padding: 0 15px 15px 15px;
        margin-top: -5px;
    }
    
    &__lista li {
        list-style:none ;
        margin-bottom: 5px;
    }
    
    &__item {
        text-decoration: none;
    }
    
    
    &__paragrafo {
        color:$cor-paragrafos-listas-footer;
    }
    
    &__paragrafo-menor {
        font-size: 13px;
    }
    &__redes-sociais {
        max-width: 50px;
        padding: 0 5px;
    }
    ul li {
        color:$cor-paragrafos-listas-footer;
    }
    
    ul li a {
        color:$cor-paragrafos-listas-footer;
    }
    @media(max-width: $breakpoint-sm) {
        text-align: center;
        font-size: 14px;
    }
    @media(min-width: $breakpoint-sm) {
    }
    @media(min-width: $breakpoint-md) {
        display: flex;
        justify-content: space-evenly;
    }
    @media(min-width: $breakpoint-lg) {
        display: flex;
        justify-content: space-evenly;
    }
    @media(min-width: $breakpoint-xl) {
        display: flex;
        justify-content: space-evenly;
    }
}
/* FOOTER PRIMEIRA LINHA*/


/* FOOTER SEGUNDA LINHA*/
    .f-segunda-linha {
        padding: 15px;
        padding-bottom: 25px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.395);
        &__logo {
            margin-top: 16px;
            width: 179px;
            height: 49px;
            margin-right: 10px;
        }
        &__paragrafo {
            color:$cor-paragrafos-listas-footer;
        }
        @media(max-width: $breakpoint-sm) {
            text-align: center;
            font-size: 15px;
        }
        @media(min-width: $breakpoint-sm) {
            text-align: center;

        }
        @media(min-width: $breakpoint-lg) {
            display:flex;
            text-align:justify;
        }
        @media(min-width: $breakpoint-xl) {
            display:flex;
            text-align:justify;
        }
    }
/* FOOTER SEGUNDA LINHA*/

/* FOOTER TERCEIRA LINHA*/
    .f-terceira-linha {
        text-transform: uppercase;
        font-size: 16px;
        margin-top: 15px;
        color:$cor-paragrafos-listas-footer;
        padding: 15px;
        &__pagamentos-img {
            width: 250px;
            height: auto;
        }
        @media(max-width: $breakpoint-sm) {
            text-align: center;
        }
        @media(min-width: $breakpoint-sm) {
            text-align: center;
        }
        @media(min-width: $breakpoint-md) {
            display: flex;
            justify-content: space-evenly;
        }
    }
/* FOOTER TERCEIRA LINHA*/

/* FOOTER QUARTA LINHA*/
    .f-quarta-linha {
        text-align: center;
        text-transform: uppercase;
        font-size: 15px;
        color: #fff;
        font-weight: 100;
        background-image: url("../img/cabecalho/cabecalho-preto.png");
        background-repeat: repeat;
        background-attachment: fixed;
        padding: 8px 15px;
        margin-top: 40px;
    }
/* FOOTER QUARTA LINHA*/

