/* FOOTER PRIMEIRA LINHA*/

.f-primeira-linha {
    border-top: 5px solid;
}

.f-logo__redes-sociais {
    max-width: 50px;
    padding: 0 5px;
}


.f-primeira-linha__titulo {
    text-transform: uppercase;
    font-size: 16px;
    font-weight:600;
    padding: 0 15px 0 15px;
}

.f-primeira-linha__lista {
    padding: 0 15px 15px 15px;
    margin-top: -5px;
}

.f-primeira-linha__lista li {
    list-style:none ;
    margin-bottom: 5px;
}

.f-primeira-linha__item {
    text-decoration: none;
}

ul li {
    color:rgb(35, 35, 33);
}

ul li a {
    color:rgb(35, 35, 33);
}

.f-primeira-linha__paragrafo {
    color:rgb(35, 35, 33);
}

.f-primeira-linha__paragrafo-menor {
    font-size: 13px;
}

/* FOOTER PRIMEIRA LINHA*/


/* FOOTER SEGUNDA LINHA*/
    .f-segunda-linha {
        padding: 15px;
        padding-bottom: 25px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.395);
    }

    .f-segunda-linha__logo {
        margin-top: 16px;
        background-image: url("../img/logos/logo-nova-loja.png");
        background-repeat: no-repeat;
        display: block;
        text-indent: -9999px;
        width: 179px;
        height: 47px;
    }


    .f-segunda-linha__paragrafo {
        color:rgb(35, 35, 33);
    }

/* FOOTER SEGUNDA LINHA*/

/* FOOTER TERCEIRA LINHA*/
    .f-terceira-linha {
        text-transform: uppercase;
        font-size: 16px;
        margin-top: 15px;
        color:rgb(35, 35, 33);
        padding: 15px;
        
    }

    .f-terceira-linha__pagamentos-img {
        width: 250px;
        height: auto;
    }
/* FOOTER TERCEIRA LINHA*/

/* FOOTER QUARTA LINHA*/
    .f-quarta-linha {
        text-align: center;
        text-transform: uppercase;
        font-size: 15px;
        color: #fff;
        font-weight: 100;
        background-image: url("../img/cabecalho/cabecalho-preto.png");
        background-repeat: repeat;
        background-attachment: fixed;
        padding: 8px 15px;
        margin-top: 40px;
    }
/* FOOTER QUARTA LINHA*/

