/* MAIN */
.secao__produtos {
    padding: 15px;
    text-align: center;
}

.main__produtos {
    margin: 0;
    padding: 0;
    margin-bottom: 18px;
}

.main__item {
    text-decoration: none;
    color:rgb(35, 35, 33);
}

.main__img {
    filter: drop-shadow(5px 5px 3px rgb(133, 131, 131));
    width: 100px;
    margin-bottom: 5px;
}

.main__paragrafo {
    margin: 2px 0;
   padding: 0 15px;
}

.main--preco-novo {
    font-size: 18px;
    color:rgb(72, 67, 67);
    font-weight:bold;
    margin-bottom: 10px;
}

.main--preco-antigo {
    text-decoration: line-through;
}

.main--preco-novo:hover {
    background-color: rgb(233, 81, 81);
    color: #fff;
}

.m-header__cabecalho {
    background-color: black;
    padding: 30px 0;
    margin-top: 5px;
    margin-bottom: 20px;
    background-image: url("../img/cabecalho/cabecalho-preto.png");
    background-repeat: repeat;
    background-attachment: fixed;
    color: #fff;
}

.m-header__titulo {
    text-align: center;
    text-transform: uppercase;
}

.m-header__titulo::after {
    content: '';
    display: block;
    background-color: #fff;
    width: 50px;
    height: 3px;
    margin: 0 auto;
    margin-top: 20px;
}

/* MAIN */