.logo {
    background-image: url("../img/logos/logo-nova-loja.png");
    background-repeat: no-repeat;
    display: block;
    width: 179px;
    height: 47px;
    text-indent: -9999px;
}

.f-logo__redes-sociais {
    width: 40px;
    padding: 0 2px;
}