.logo {
    background-image: url("../img/logos/logo-nova-loja.png");
    background-repeat: no-repeat;
    display: block;
    width: 179px;
    height: 47px;
    text-indent: -9999px;
    text-align: center;
}