.menu-principal {
    &__btn {
        display: block;
        width: 50px;
        height: 50px;
        text-indent: -9999px;
        background-color: $cor-background-botao-menu-principal;
        background-image: url("../imagens-udemy/menuprincipal-btn-bg.png");
        background-repeat: no-repeat;
        background-position: 5px 6px;
        border-color: $cor-borda-botao-menu-principal;
        border-style: solid;
        border-radius: 5px;
        cursor: pointer;
        background-position: -48px 7px;
        position: absolute;
        top: 17px;
        right: 15px;
        @media(min-width: $breakpoint-md) { // Quando a largura mínima for 768px, não mostre o botão
            display: none;
        }
    }
    &__lista {
        padding: 0;
        list-style: none;
        transition: margin 200ms ease-out;
        @media(min-width: $breakpoint-md) {
            li {
            display: inline-block; // Quando a largura mínima for 768px, faça isso
            margin: 0 10px;
            }
        }
        @media(min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
            .menu-principal__label {
                width: 130px;
            }
        }
    }
    &__item {
        text-decoration: none;
        font-weight: bold;
        color: $cor-principal;
        margin-bottom: 8px;
        display: block;
        font-size: 18px;
        height: 20px;
        transition: all 200ms ease-out;
    }
    &__item--atual {
        color: $menu-principal-item-atual-color;
    }
    &__label {
        padding: 5px 10px;
        width: 225px;
        border-radius: 0;
        border-color: aliceblue;
        border-color: #0f1417;
        background-color: #f8f8f8;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    @media(max-width: $breakpoint-md - 1) {
        &--fechado {
            .menu-principal__btn {
                background-position: 5px 6px; // Quando a largura máxima for 768px, mostre o botão mobile fechado
            }
            .menu-principal__lista {
                margin: 0;
            }
            .menu-principal__item {
                margin: 0;
                height: 0;
                overflow: hidden;
            }
            .menu-principal__label {
                display: none;
            }
        }
    }
}